<h1>Ask coach a question</h1>

<form action="/coaching/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>


