#wrapper {
  width: 95%;   /* Set width*/
  margin: 20px auto; /* Automatically set left/right margins */
  text-align: center;
  padding: 20px;
  border-radius: 2px;
  background: rgba(175, 175, 175, 0.1);
}

#left {
  float: left;
  width: 48%;
  /*min-height: 600px;*/
}

#right {
  float: right;
  width: 48%;
  /*min-height: 600px;*/
}

#footer {
  float: bottom;
}

.clear {
  clear: both;
}

.card {
  background: white;
  padding: 20px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid lightgrey;
  margin: 10 auto;
  /*width: 100%;*/
}

.img-rounded {
  border-radius: 5%;
}

body {
  background: #EDEFF0;
  font-family: Helvetica;
}

h1 {
  font-family: Verdana;
  color: #2E4053;
}

h2 {
  font-family: sans-serif;
  line-height: 1;
  color: #ABB2B9;
}

h4 {
  font-family: Verdana;
  color: #626567;
}

a {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: gray;
}

p {
  color: gray;
}

table {
  border-collapse: separate;
  border-spacing: 20px;
  border: 30px;
  line-height: 2em;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

